*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.ana{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    background-color: aquamarine;
  
}
.erst{
    width: 100%;
    height: 60px;
    border: 2px solid red;
    display: flex;
    justify-content: end;
}
.btn{
    width: 100px;
    height: 50px;
    border: 2px solid red;
    background-color: red !important;
    color: white!important;

}
.btn1{
    width: 80px;
    height: 55px;
    border-radius: 50%;
}
.ana1{
    width: 75%;
   
    border: 2px solid black;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px
    
}
.hesap{
    display: none;
}
.father{
    display: flex;
}
