*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.ana{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    background-color: aquamarine;
}
.erst{
    width: 100%;
    height: 60px;
    border: 2px solid red;
    display: flex;
    justify-content: end;
}
.btn{
    width: 60px;
    height: 50px;
    border: 2px solid red;
    background-color: red !important;
    color: white!important;

}