*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./img/istockphoto-1397030090-2048x2048.jpg');
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
    width: 100%;
    height: 180px;
}
.card{
   
display: flex;
 gap: 15px;

}
.card_close{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 340px;
    margin-right: 5px;
    font-size: 30px;
    background-color: black;
    color: azure;
    border-radius: 45px;
    margin-top: 10px;
    width: 40px;
    border: 2px solid black;
    cursor: pointer;
}
.card_in{
   border: 5px solid rgb(29, 6, 6);
   width: 400px;
   height: 450px;
   margin-top: 25px;
   margin-left: 45px;
   border-radius: 8px;
 
}
.card_mitte{
    /* border: 2px solid red; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
input{
    width: 30%;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
}
.submit{
 width: 60px;
 height: 40px;
 margin-left: 9px;
 border-radius: 5px;
 font-size: 700;
 text-transform: uppercase;
 border-color: white;
 padding: 0.75rem 1 rem;
 box-shadow: 0.25rem 0.25rem #121212;
 transition: 
  transform 50ms , box-schadow 50ms;
}
.submit:active{
    transform: translate(0.125rem,0.125rem);
    box-shadow: 0.125rem 0.125rem #121212;
}
.son{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(151, 151, 177);
    color: rgb(90, 99, 229);
    height: 10%;
    font-size: 25px;
    
    

}
.desc{
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
}
.feel{
   font-size: 45px;
   color: rgb(122, 61, 169);

}
.res{
    margin-top: -110px;
    margin-left: 0px;
}